[submodule "Source/Third_Party/SDL"]
	path = Source/Third_Party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Source/Third_Party/SDL_image"]
	path = Source/Third_Party/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "Source/Third_Party/SDL_mixer"]
	path = Source/Third_Party/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "Source/Third_Party/SDL_ttf"]
	path = Source/Third_Party/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "Source/Third_Party/freetype"]
	path = Source/Third_Party/freetype
	url = https://github.com/freetype/freetype.git
[submodule "source/third_party/ffmpeg"]
	path = source/third_party/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "source/third_party/Odin"]
	path = source/third_party/Odin
	url = https://github.com/odin-lang/Odin.git
